<h1>CONTACT US</h1>
<form>
     <label>First Name: </label>
<input type="text" name="first" placeholder="firstname">
    <label style="margin-left:10%;">Last Name: </label>
    <input type="text" name="last" placeholder="lastname"><br><br>
     <label>Email: </label>
    <input type="email" placeholder="enter your email"><br><br>
     <label>Phone No: </label>
    <input type="text" placeholder="enter yur phone number"><br><br>
<textarea cols="90" rows="8">Enter your message here....</textarea><br><br>
    <button>SEND</button>
</form>